target
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.jdt.core.prefs
.classpath
.settings/org.eclipse.m2e.core.prefs
.project
.settings/org.eclipse.wst.common.component
